    body {
      font-family: "Verdana",sans-serif; 
      background-color: rgb(20, 20, 20);
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
          }
    .header {
      text-align: center;
      max-width: 500px;
      width: 100%;
 }
    .info {
    float: center;
    }
    .profile-photo {
      float: center;
    }

    .biography {
      font-size: 18px;
      font-weight: 600;
      color: white;
      max-width: 500px;
    }
    .footer {
      font-size: 16px;
      font-weight: 600;
      color: white;
      text-align: center;
      max-width: 500px;
      width: 100%;
    }
    .menu-container {
      display: flex;
      max-width: 500px;
      flex-direction: column;
      width: 100%;
      text-align: center; 
    }
    
    .menu-container-vid {
      display: flex;
      max-width: 500px;
      flex-direction: column;
      width: 100%;
      text-align: center; 
    }
    .menu-button {
        font-size: 16px;
        font-weight: 600;
        margin-top: 18px;
        padding: 18px;
        background-color: red;
        color: white;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .menu-button-twee {
      font-size: 16px;
      font-weight: 600;
      padding: 18px;
      background-color: red;
      color: white;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
  }
  .menu-button-drie {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.menu-button-vier {
  font-size: 16px;
  font-weight: 600;
  padding: 18px;
  background-color: white;
  color: red;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

    .icon {
      justify-content: center;
      margin-right: 11px;
      color: white;
    }
