
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="{{ keywords }}" />
      
        <link rel="icon" type="image/png" href="https://imagedelivery.net/zhRJ9bxT1Psi4a8Rqze6LA/ed3f251a-755b-4cf1-e244-7c4734eb1500/w=70">
  
          <meta property="og:title" content="{{ title }}">
          <meta property="og:description" content="{{ description }}">
          <meta property="og:image" content="https://imagedelivery.net/zhRJ9bxT1Psi4a8Rqze6LA/d128ad0e-af0a-4d8a-80ce-c97132104300/w=300">
          <meta property="og:url" content="https://www.ninetygrooves.com/releases/">
          <meta property="og:type" content="website">
  
          <meta name="twitter:card" content="summary_large_image">
          <meta property="twitter:domain" content="https://www.ninetygrooves.com/releases/">
          <meta property="twitter:url" content="htthttps://www.ninetygrooves.com/releases/">
          <meta name="twitter:title" content="{{ title }}">
          <meta name="twitter:description" content="{{ description }}">
          <meta name="twitter:image" content="https://imagedelivery.net/zhRJ9bxT1Psi4a8Rqze6LA/d128ad0e-af0a-4d8a-80ce-c97132104300/w=300">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninety-red.css') }}">
</head>

<body>

{% include 'header_releases.html' %}

<nav class="menu-container">
  <a href="https://m.ninetygrooves.com/methylphenidate.OWE" target=”_blank” class="menu-button-vier">
  </i>Methylphenidate by Kowskila
    </a>
    <a href="https://m.ninetygrooves.com/xmo370b.OWE" target=”_blank” class="menu-button-drie">
    </i>+ Free Download
      </a>
      <br>
      <nav class="menu-container">
        <a href="https://ninetygrooves.com/" target=”_blank” class="menu-button">
          To Navigation Menu
          </a>
    
    </nav>
 </body>

{% include 'footer.html' %}
</html>